.app_yellow_theme {
    --bg-color: #ccd21c;
    --inverted-bg-color: #e6e7d7;
    --primary-color: #9e2df5;
    --secondary-color: #fbfbf4;
    --inverted-primary-color: #df8cb4;
    --inverted-secondary-color: #fbfbf4;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
